<ul>
<h4><%= @employee.first_name + " " + @employee.last_name %></h4>
<li><%= "Alias: " + @employee.alias %></li><br>
<li><%= "Title: " + @employee.title %></li><br>
<li><%= "Office: " + @employee.office %></li>
</ul>

<img src=<%= @employee.img_url %>>